

h1{
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(210, 224, 15);
    background-size: 50%;
}
body{
    background-color: rgb(32, 32, 32);
    background-size: 100%;
    position: absolute;
    overflow: auto;
    border: 2px solid rgb(210, 224, 15);
    border-style: solid ;
    font-size:20px;
    margin: 5px;
    padding: 3px;
}